/* место для вашего кода */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 94.5px 50px 94.5px 50px;
  font-family: Raleway, sans-serif;
  font-weight: normal;
  font-size: 18px;
}

.header__links-list {
  display: flex;
  gap: 13px;
  list-style: circle;
  list-style-position: inside;
}
.header__links-list-item_no-bullit {
  text-decoration: none;
  list-style-type: none;
}

.header__link_active {
  text-decoration: none;
}

.header__link {
  line-height: 100%;
}

.header__logo {
  display: block;
  width: 130px;
  height: 104px;
}

.header__logo-image {
  height: auto;
}

.address {
  max-width: 240px;
  justify-self: end;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1.35;
  font-style: normal;
}

.contacts-list {
  list-style-type: none;
}

.address-link-ununderlined {
  text-decoration: none;
}

.cover {
  min-height: 757px;
  position: relative;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
  z-index: 0;
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
}

.cover__title {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, 1fr));
  row-gap: 20px;
  text-transform: uppercase;
  line-height: 1.15;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 100px;
  color: white;
  padding: 165px 50px 0 50px;
  max-width: 100%;
  letter-spacing: 0.3em;
  box-sizing: border-box;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.aligned-text_left {
  grid-column: 1;
  grid-row: 1;
}

.aligned-text_center {
  grid-column: 2;
  grid-row: 2;
  text-align: start;
}

.aligned-text_right {
  grid-column: 2 / 4;
  grid-row: 3;
  padding-left: 282px;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 106px 50px 50px 50px;
  font-size: 22px;
  line-height: 28px;
  font-family: Raleway;
  text-transform: uppercase;
}

.cover__description-text {
  word-spacing: 19px;
  text-align: center;
  line-height: 28px;
}

.bet-button {
  all: unset;
  padding: 12px 32px 11px 31px;
  border: 1px solid;
  font-size: 22px;
  background-color: transparent;
}

.lots {
  padding: 0 24px 0 24px;
  margin-top: 180px;
}

.lots__heading {
  font-size: 40px;
  padding-left: 40px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  padding-bottom: 32px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.lots__card-list-item {
  list-style: none;
  width: 334px;
  min-height: 596px;
}

.card {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100%;
  padding: 48px 40px 48px 40px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}
.card-link {
  position: relative;
  z-index: 11;
  text-decoration: none;
}

.card__title {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 120%;
  text-decoration: underline;
  position: relative;
  z-index: 11;
}

.card__text {
  font-size: 20px;
  line-height: 120%;
  position: relative;
  z-index: 11;
}

.lots__look-more-link {
  font-size: 20px;
  display: block;
  padding: 30px 0 0 40px;
}

.about {
  padding: 35px 24px 0 24px;
  margin-top: 120px;
  column-gap: 25px;
}

.about__column {
  display: grid;
  grid-template-columns: minmax(auto, 334px) 1fr;
  column-gap: 25px;
}
.about__logo {
  background-color: black;
  width: 240px;
  height: 240px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  justify-self: center;
}

.about__logo-image {
  max-width: 148px;
  border: 6px;
}

.about__title {
  font-size: 40px;
  text-transform: uppercase;
  line-height: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  row-gap: 100px;
}
.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  grid-column: 2;
  line-height: 1.2;
  font-size: 20px;
  padding-top: 8px;
}
.paragraph {
  padding-right: 5px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr min-content;
  align-items: start;
  gap: 140px;
  padding: 0 50px 0 50px;
  padding-top: 1px;
  margin-top: 180px;
}
.footer__address {
  justify-self: start;
  font-size: 18px;
  max-width: 265px;
}

.footer__links-list {
  list-style: none;
  justify-self: center;
  text-align: center;
}
.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
}

.logo {
  width: 48px;
}

.footer__menu {
  font-size: 18px;
  line-height: normal;
}
